<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control" type="text" (input)="onNameChange($event)" />
    </div>
    <div class="col">
      <label>
        <b>Name</b>
      </label>
      <div>
        {{name | titlecase}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input class="form-control" type="date" (input)="onDateChange($event)" />
    </div>
    <div class="col">
      <label>
        <b>Payment Date</b>
      </label>
      <div>
        {{date | date: 'MMMM d, y'}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <input class="form-control" type="text" (input)="onAmountChange($event)" />
    </div>
    <div class="col">
      <label>
        <b>Payment Amount</b>
      </label>
      <div>
        {{amount | currency}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input class="form-control" type="text" (input)="onHeightChange($event)" />
    </div>
    <div class="col">
      <label>
        <b>Height</b>
      </label>
      <div>
        {{height | number: '1.0-2'}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input class="form-control" type="text" (input)="onMilesChange($event)" />
    </div>
    <div class="col">
      <label>
        <b>Kilometers</b>
      </label>
      <div *ngIf="(miles | convert: 'km') > 10">
        {{miles | convert: 'cm' | number: '1.0-2'}}
      </div>
    </div>
  </div>
</div>
